.category.active .category-top__icon svg {
    transform: rotate(-180deg);
    transition: transform ease 0.3s;
}

.category {
    &-list {
        box-sizing: border-box;
        overflow: hidden;
        transition: max-height 0.3s ease;
        will-change: max-height;
    }

    &-top {
        transition: padding-bottom 0.3s ease;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;

        &__icon svg {transition: transform ease 0.3s;}

        &__title {
            color: var(--colorGraphite);
            font-size: 24px;
            line-height: 100%;
            font-weight: 600;
        }
        &__icon {
            width: 24px;
            height: 24px;
        }
    }

    &-list-wrapper {
        box-sizing: border-box;
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        transition: gap ease 0.3s;
    }

    @media screen and (max-width: 767px) {
        &-top {
            gap: 24px;
            &__title {
                font-size: 20px;
                line-height: 1.2;
            }
        }
    }
}